<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 format-form">
      <h2>Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="container">
          <div class="row form-actions">
           <%= f.button :submit, "Reset password", class: "btn btn-success button-log mt-2" %>
          </div>
        </div>

      <% end %>

      <div class="container">
        <div class="row links-login">
          <div class="forgot-pass mt-4">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

