<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://i1.wp.com/medicannabis.com.au/wp-content/uploads/2019/06/MediCannabis_Isotype_RGB-01-800x800.png?ssl=1" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item active mr-2">

          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

              <!-- <a class="dropdown-item" href="root">Home</a> -->
              <%= link_to "Home", root_path, class: "dropdown-item" %>
              <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

            </div>

          </div>
        </li>

        <li class="nav-item dropdown mr-4">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </li>

        <button type="button" class="btn btn-outline-secondary btn-sm">
          <%= link_to "Cart", "#", class: "cart" %>
          <span class="badge badge-light" id="cart-count">
            <%= @current_cart.total_qty %>
          </span>
          <span class="sr-only">unread messages</span>
        </button>




      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link mr-5" %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
