<div class="navbar navbar-expand-sm navbar-light navbar-weedbay">
  <div class="d-flex flex-row">
    <div class="d-flex align-items-strech ml-4">
      <div class="p-2">
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "https://i1.wp.com/medicannabis.com.au/wp-content/uploads/2019/06/MediCannabis_Isotype_RGB-01-800x800.png?ssl=1" %>
        <% end %>
      </div>

      <div class="p-2">
        <% if user_signed_in? %>
          <li class="nav-item active d-flex align-items-stretch mt-2 p-1">
            <div class="dropdown show">
              <a class="dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "menu-img.png", alt: "Menu image" %>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Home", root_path, class: "dropdown-item" %>
                <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
                <% if policy(Product).new? %>
                  <%= link_to "Add product", new_product_path, class: "dropdown-item" %>
                <% end %>

                  <%= link_to "Show orders", orders_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          </li>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row-reverse">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <div class="d-flex align-items-stretch mr-4">

          <div class="p-2 d-flex justify-content-center">
              <li class="nav-item dropdown">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
              </li>
          </div>


          <div class="p-2 d-flex justify-content-between align-items-">
            <div class="container">
              <div class="row">
                <div class="col">
                  <%= link_to "", class: "cart" do %>
                  <i class="fas fa-shopping-cart fa-2x"></i>
                  <% end %>
                  <span class="badge badge-light" id="cart-count">
                    <%= @current_cart.total_qty %>
                  </span>
                </div>
              </div>
          </div>
          <div id="cart-dropdown" class="container mt-2">
            <%= render @current_cart %>
          </div>
          <div class="p-2 d-flex justify-content-center">
           <% else %>
              <div class="render-links-button nav-item d-flex justify-content-center mt-2" style="border-color: rgba(238, 195, 25, 1);">
                  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </div>

           <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
