<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 format-form">
      <h1>All my Orders</h1>

      <% @orders.each do |order| %>
        <% if order.user == current_user || current_user.admin %>
      <div class="card mb-5">
        <div class="card-body">
          <h5 class="card-title">Name: <%= order.name %></h5>
          <p class="card-text">Email: <%= order.email %></p>
          <p class="card-text">Address: <%= order.address %> </p>
          <h6><strong>Products</strong></h6>
          <% order.product_orders.each do |product_order| %>
            <p class="card-text"><%= product_order.product.name %>
            $<%= product_order.product.price %> x <%= product_order.quantity %></p>
          <% end %>
          <hr>
          <p class="card-text"><strong>SubTotal:
            <%= order.sub_total %>
          </strong></p>
          <%= link_to 'Edit', edit_order_path(order) %>
          <%= link_to 'Delete', order_path(order), method: :delete %>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>



