<h2>Show order</h2>

  <p>Name: <%= @order.name %></p>
  <p>Email: <%= @order.email %></p>
  <p>Product Orders: </p>
  <ul>
    <% @order.product_orders.each do |product_order| %>
    <li><%= product_order.quantity %> x <%= product_order.product.name %> (price: <%= product_order.price%>)</li>
    <% end %>
  </ul>
  <%= link_to "Edit order", edit_order_path(@order)  %>
  <%= link_to "Back to orders", orders_path  %>


