<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 format-form">
      <h1>Log in</h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="container">
          <div class="row form-actions">
            <%= f.button :submit, "Join us !", class: "btn btn-secondary button-log mt-2" %>
          </div>
        </div>

      <% end %>

      <div class="container">
        <div class="row mt-4 links-login">

          <button class="btn btn-outline-secondary render-links-button mt-2">
            <%= render "devise/shared/links" %>
          </button>

          <div class="forgot-pass mt-4">
            <%= render "devise/shared/forgot-pass" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>





