<%= simple_form_for [@product] do |f| %>
  <ul>
    <% if @product.errors.any? %>
      <% @product.errors.full_messages do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </ul>
  <div class="form-inputs">
    <%= f.input :name, placeholder: "Weed name" %>
    <%= f.input :origin %>
    <%= f.input :price %>
    <%= f.input :weed_type, collection: ["Indica", "Hybrid", "Sativa", "Rudelaris"] %>
    <%= f.input :photo_url, as: :file %>
  </div>
  <div class="form-actions mt-4">
    <%= f.submit "Submit", class: "btn btn-success button-log p-0" %>
  </div>
<% end %>
