<%= simple_form_for [@product] do |f| %>
<ul>
  <% if @product.errors.any? %>
    <% @product.errors.full_messages do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>
  <%= f.input :name, placeholder: "Weed name" %>
  <%= f.input :origin %>
  <%= f.input :price %>
  <%= f.input :weed_type, collection: ["Indica", "Hybrid", "Sativa", "Rudelaris"] %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
