<% products.each do |product| %>
  <div class="col-sm-4 mt-4">
    <div class="card product-card">
    <%= image_tag product.photo_url, class: "card-img-top", style: "border-radius: 3px;" %>
    <div class="card-body" style="padding: 1vh;">
      <%= link_to product.name, product_path(product), class: "card-title product-name", data: {toggle: 'modal', target: '#show-modal'}  %>
      <p class="card-text mt-2"><%= product.user.email %></p>
      <%= render 'show', product: product %>
      <div class="container">
        <div class="row d-flex justify-content-between">
          <p class="card-text btn-admin-edit-destroy">
            <% if policy(product).edit?  %>
              <%= link_to edit_product_path(product) do %>
                <i class="fas fa-edit fa"></i>
              <% end %>
            <% end %>
            <% if policy(product).destroy? %>
              <%= link_to product_path(product), method: :delete, data: {confirm: 'Are you sure'} do %>
                <i class="fas fa-trash fa"></i>
              <% end %>
            <% end %>
          </p>
          <%= button_to "Add to cart", product_orders_path(product_id: product.id), class: "btn btn-secondary add-to-cart", remote: true %>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>

