<h1>All Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %> <%= product.user.email %> -
      <% if policy(product).edit?  %>
        <%= link_to "Edit", edit_product_path(product) %> -
      <% end %>
      <% if policy(product).destroy? %>
        <%= link_to "Destroy", product_path(product), method: :delete, data: {confirm: 'Are you sure'} %>
      <% end %>
      <%= button_to "Add to cart", product_orders_path(product_id: product.id) %>
    </li>
  <% end %>
</ul>

<% if policy(Product).new? %>
  <%= link_to "add new product", new_product_path  %>
<% end %>
  <%= link_to "show cart", cart_path(@current_cart)  %>
  <%= @session %>
  <%= link_to "show orders", orders_path  %>
