<h1><%= @product.name %></h1>

<ul>
  <li>Weed Type: <%= @product.weed_type %></li>
  <li>Origin: <%= @product.origin %></li>
</ul>

<p>Price: <%= @product.price %></p>

<%= link_to 'Add to cart', product_orders_path, method: :post %>
<%= link_to 'Back to products', products_path %>
